/*@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /*Permanent Marker font*/
/*@import url('https://fonts.cdnfonts.com/css/adumu-inline?styles=97428'); /*Adumu font*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;    
  width: 100%;
  height: auto;

  user-select: none;

  font-family: 'Adumu Inline', sans-serif;
  font-family: 'Adumu', sans-serif;
  font-family: "Poppins", sans-serif;;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
}

#root { width: 100%; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hovering{
  transition: all 0.3s ease-out;
  transform-origin: center;
}

.hovering:hover{
  color: #FFFFFF;
  transform: scale(1.17);
}

.hoveringSmall{
  transition: all 0.3s ease-out;
  transform-origin: center;
}

.hoveringSmall:hover{
  color: #FFFFFF;
  transform: scale(0.8);
}

.noWrap{
  white-space: nowrap;
}

.cursorPointer{
  cursor: pointer;
}
html, body, #root {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
