@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /*Permanent Marker font*/
@import url('https://fonts.cdnfonts.com/css/adumu-inline?styles=97428'); /*Adumu font*/


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;    
  width: 100%;
  height: 100%;

  user-select: none;

  font-family: 'Adumu Inline', sans-serif;
  font-family: 'Adumu', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(255, 127, 48);
  color: black;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hovering{
  transition: all 0.3s ease-out;
  transform-origin: center;
}

.hovering:hover{
  color: #FFFFFF;
  transform: scale(1.17);
}

.hoveringSmall{
  transition: all 0.3s ease-out;
  transform-origin: center;
}

.hoveringSmall:hover{
  color: #FFFFFF;
  transform: scale(0.8);
}

.noWrap{
  white-space: nowrap;
}

.cursorPointer{
  cursor: pointer;
}