.lobbyImg{
    width: 10%;
    color: black;
}

.inputPlayer{
    
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

/* .textualFont {
    color: blue;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
} */
  